<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'box'}) do |f| %>

  <h1 class="title">Sign up</h1>

  <div id="flashes">
    <p class="is-success"><%= notice %></p>
    <p class="is-danger"><%= alert %></p>
  </div>

<div class='field'>
    <%= f.label :Email, class: 'label'%>
    <div class='control has-icons-left'>
      <span class='icon is-small is-left'>
        <i class='fa fa-envelope'></i>
      </span>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', placeholder: 'e.g. han.solo@gmail.com' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label :Password, class: 'label' %>
    <div class='control has-icons-left'>
      <span class='icon is-small is-left'>
        <i class='fa fa-lock'></i>
      </span>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'input', required:'true' %>
    </div>
    <p class="help">
      <% if @minimum_password_length %>

        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </p>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation, class: 'label' %>
    <div class='control has-icons-left'>
      <span class='icon is-small is-left'>
        <i class='fa fa-lock'></i>
      </span>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input', required:'true' %>
    </div>
  </div>

  <div class='field'>
    <%= f.submit "Sign up", class: 'button is-success' %>
  </div>
  <div class='is-vcentered'>
    <%= render "devise/shared/links" %>
  </div>

<% end %>
