<div class="column is-6-tablet is-4-desktop is-3-widescreen" id=<%= dom_id(facet) %> >
  <article class="box has-text-centered card">
    <div class="box">
      <%= image_tag facet.avatar %>
    </div>
    <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
      <%= link_to facet.name, '#' %>
    </p>
    <br>
    <div class="content is-small">
      <%= link_to "Edit", '#' %>
      <span>·</span>
      <%= link_to "Delete", '#' %>
      <p></p>
    </div>
  </article>
</div>