    <section class="section">
      <div class="columns">
        <div class="column">
          <h1 class="title ">Identities</h1>

          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="subtitle is-5">
                  <strong>6</strong> identities
                </p>
              </div>

              <p class="level-item">
                <a class="button is-success" href="new-identity.html">New</a>
              </p>

              <div class="level-item is-hidden-tablet-only">
                <div class="field has-addons">
                  <p class="control">
                    <input class="input" type="text" placeholder="Identity name, keyword…">
                  </p>
                  <p class="control">
                    <button class="button">
                      Search
                    </button>
                  </p>
                </div>
              </div>
            </div>

            <div class="level-right">
              <div class="level-item">
                Order by
              </div>
              <div class="level-item">
                <div class="select">
                  <select>
                    <option>Name</option>
                    <option>Date Last Opened</option>
                    <option>Date Created</option>
                    <option>Date Modified</option>
                  </select>
                </div>
              </div>
            </div>
          </nav>

          <div class="columns is-multiline">
            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'intellect.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
                  <a href="#">I'm a Learner</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'coworking.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm an asset at work</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'knowledge.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm a reader</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'celebration.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm Entertained</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
              <div class="box">
                <%= image_tag 'laundry.png' %>
              </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized has-text-centered">
                  <a href="#">I'm organized</p></a>
                </p>
                </br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'spanish-language.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm a Spanish speaker</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                <%= image_tag 'puzzle.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm Connected</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>

            <div class="column is-6-tablet is-4-desktop is-3-widescreen">
              <article class="box has-text-centered card">
                <div class="box">
                  <%= image_tag 'south-korea.png' %>
                </div>
                <p class="title is-3 is-spaced is-marginless is-capitalized is-vcentered">
                  <a href="#">I'm a Korean Speaker</a>
                </p>
                <br>
                <div class="content is-small">
                  <a href="#">Edit</a>
                  <span>·</span>
                  <a>Delete</a>
                  <p></p>
                </div>
              </article>
            </div>
          </div>
            <br>
            <br>

          <nav class="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li>
                <a class="pagination-link">1</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">45</a>
              </li>
              <li>
                <a class="pagination-link is-current">46</a>
              </li>
              <li>
                <a class="pagination-link">47</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              <li>
                <a class="pagination-link">86</a>
              </li>
            </ul>
          </nav>

        </div> <!-- end of colum -->
      </div> <!-- end of colums -->
    </section>